<div class="container">
  <h1>{{ data.Title }}</h1>
  <hr />
  <table mat-table class="mat-elevation-z8">
    <tr mat-row>
      <td mat-cell><b>Year</b></td>
      <td mat-cell>{{ data.Year }}</td>
      <td mat-cell><b>Released</b></td>
      <td mat-cell>{{ data.Released }}</td>
      <td mat-cell><b>Rated</b></td>
      <td mat-cell>{{ data.Rated }}</td>
    </tr>
    <tr mat-row>
      <td mat-cell><b>Director</b></td>
      <td mat-cell>{{ data.Director }}</td>
      <td mat-cell><b>Writer</b></td>
      <td mat-cell>{{ data.Writer }}</td>
      <td mat-cell><b>Runtime</b></td>
      <td mat-cell>{{ data.Runtime }}</td>
    </tr>
    <tr mat-row>
      <td mat-cell><b>Language</b></td>
      <td mat-cell>{{ data.Language }}</td>
      <td mat-cell><b>Country</b></td>
      <td mat-cell>{{ data.Country }}</td>
      <td mat-cell><b>Type</b></td>
      <td mat-cell>{{ data.Type }}</td>
    </tr>
    <tr mat-row>
      <td mat-cell><b>Genre</b></td>
      <td mat-cell>{{ data.Genre }}</td>
      <td mat-cell><b>Actors</b></td>
      <td mat-cell>{{ data.Actors }}</td>
      <td mat-cell><b>Plot</b></td>
      <td mat-cell>{{ data.Plot }}</td>
    </tr>
    <tr mat-row>
      <td mat-cell><b>Imdb Rating</b></td>
      <td mat-cell>{{ data.imdbRating }}</td>
      <td mat-cell><b> Imdb Votes</b></td>
      <td mat-cell>{{ data.imdbVotes }}</td>
      <td mat-cell><b>Awards</b></td>
      <td mat-cell>{{ data.Awards }}</td>
    </tr>
  </table>
</div>
